---
import Timer from "../components/Timer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Relaxdoro">
  <div class="w-screen h-screen grid place-content-center">
    <main>
      <Timer />
    </main>
  </div>
</Layout>
